<%- include("_header") -%>
<main class="main main-signin text-center">
  <div class="form-signin">
    <svg><use xlink:href="images/icons.svg#icon-users"></use></svg>
    <h2 class="h3 mb-3 font-weight-normal">Log into your account</h2>
    <form class="form form-signin form--login ">
      <div class="form__group">
        <label class="sr-only" for="email">Email address</label>
        <input
          class="form__input form-control"
          id="email"
          type="email"
          placeholder="you@example.com"
          required="required"autofocus=""
        />
      </div>
      <div class="form__group ma-bt-md">
        <label class="sr-only" for="password">Password</label>
        <input
          class="form__input form-control"
          id="password"
          type="password"
          placeholder="••••••••"
          required="required"
          minlength="8"
        />
      </div>
      <div class="form__group">
        <button class="btn btn-lg btn-primary btn-block">Login</button>
      </div>
    </form>
  </div>
</main>

<%- include("_footer") -%>
