</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!-- START FOOTER-->
<div class="footer">
<table role="presentation" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td class="content-block"><span class="apple-link">Maii du Artisan</span><br> Don't like these emails? <a href="#">Unsubscribe</a></td>
</tr>
</tbody>
</table>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</body>
</html>