/* -------------------Alerts-------------------- */
/* TODO: make alerts take whole width of the page */

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: $clr-white;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem 5rem !important;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.alert--success {
  background-color: $alert-success;
}

.alert--error {
  background-color: $alert-error;
}

// .alert-info {
//   color: $font-grey;
// }
