.orders-container {
  padding-bottom: 2rem;

  .dropdown-toggle {
    &:hover {
      transform: translateY(-1px);
      @include easeOut();
    }
    &::after {
      font-size: 1.5em;
      font-weight: 800;
      content: '⋮';
      border: none !important;
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  .edit-orders {
    @include customTable();

    span {
      padding: 2px 6px;
      background-color: $secondary-font-color;
      border-radius: 0.25rem;
      color: #fff;
      line-height: 1.5rem;
    }
  }
}
