/* -------------------CART STYLES-------------------- */

.cart-wrapper {
  padding: 2rem;

  .btn-number {
    width: 1.2rem;
    padding: 0;
  }

  .cart-table {
    tbody tr {
      td {
        vertical-align: middle;
      }
    }

    .cart-item {
      p {
        font-size: 0.7rem;
        span {
          font-size: 0.75rem;
        }
      }
    }

    .product-thumb {
      max-width: 6.25rem; //100px
    }

    .td-qty {
      max-width: 6rem;
    }

    .qty {
      width: 4em;
      padding: 2px 5px;
      height: 100%;
      line-height: 2;
      text-align: center;
      background: transparent;
      border-radius: 4px;
      border: 1px solid $border-color-secondary;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
    }
  }

  .cart-footer .btn {
    border: none;
    font-weight: bold;
    @include easeOut();

    &:hover,
    &:focus,
    &:active {
      transform: translateY(-2px);
    }
  }

  .empty-cart {
    // min-height: 50vh;
  }
}

@media only screen and (max-width: 575px) {
  .cart-wrapper {
    padding: 1rem 0;

    th {
      font-size: 0.8rem;
    }

    .table td,
    .table th {
      padding: 0.4rem 0;
    }
  }
}
