/* Footer */
#footer {
  text-align: center;
  background-color: $background-color;
  margin: 0;
  // padding: 0.5rem;
  height: 2rem;
}

.socials {
  color: $font-color;
  margin: 0 0.6rem;
  font-size: 0.7rem;
}
