/* MY ORDERS */
#img-wrap {
  width: 100px;
  height: 100px;
  position: relative;
}

#img-wrap img {
  object-fit: cover;
  height: 100px;
  clip-path: inset(0 0% 0 0%);
  position: absolute;
  z-index: 0;
  transition: all 0.2s ease 0.2s;
  left: 0%;
}

#img-wrap img:nth-of-type(2) {
  clip-path: inset(0% 50% 0% 0%);
}

#img-wrap img:hover {
  clip-path: inset(0 0% 0);
  z-index: 10;
}
#img-wrap img:nth-of-type(2):hover {
  clip-path: inset(0% 0% 0 0%);
  z-index: 10;
}

.panel-group a {
  color: var(--dark);
}

// tr td {
//   padding: 0 !important;
//   margin: 0 !important;
// }

.editProductBtn:hover {
  cursor: pointer;
}

.form-check input {
  display: block !important;
  margin-left: 1.25rem;
}
