/* -------------------SIGNUP STYLES-------------------- */
.main-signup {
  background: rgb(232, 69, 69);
  background: radial-gradient(
    circle,
    rgba(232, 69, 69, 0.9500191131498471) 38%,
    rgba(144, 55, 73, 1) 94%
  );
  padding: 4% 5% 8%;
  font-weight: 400;
  font-size: 0.9rem;
}

.signup__left-panel {
  padding-right: 0;
}
.signup__right-panel {
  padding: 3.5% 5%;
  background-color: #fff;
  /* background-color: #94d0cc; */
  /* background-color: #2b2e4a; */
}

.signup__pitch-txt {
  position: absolute;
  padding: 7% 2%;
  text-align: right;
  color: #53354a;
  font-weight: 800;
  font-size: 1rem;
  top: 80px;
  right: 40px;
  text-align: right;
}

.signup__pitch-txt2 {
  color: #53354a;
  font-size: 1rem;
  font-weight: 800;
  text-align: left;
}
.signup__sign-txt {
  position: absolute;
  padding: 8% 2%;
  text-align: left;
  color: #fff;
  font-weight: 800;
  font-size: 2rem;
  top: 0;
  left: 45px;
}

.signup__brand {
  color: #53354a;
  font-size: 2.5rem;
  text-align: left;
  padding: 1.5% 0 0;
  margin-bottom: 13px;
}

#signup__form-section {
  padding: 6% 0 0;
}

.signup__newsletters-txt {
  font-size: 0.9rem;
}

#signup__button-section {
  padding: 2% 0 0;
}

.signup__button {
  background-color: #eec4c4;
}

.signup-button:hover {
  background-color: #ce97b0;
}
.login-member {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: #53354a;
}
.signup__login-member:hover {
  color: #e84545;
}

.signup__hr {
  margin: 0 0 5%;
}
.signup__hr-2 {
  margin: 4% auto 4%;
}

#signup__connect-section {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
}
.signup__icon {
  color: #53354a;
  margin-left: 6px;
  /* font-size: 1.3rem; */
}

.icon:hover {
  color: #e84545;
}

.signup__form {
  padding: 0;
}

.signup__responsive-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}
