/* -------------------SIGNUP STYLES-------------------- */
.signup-container {
  // background: rgb(140, 140, 140);
  // background: radial-gradient(
  //   circle,
  //   rgba(140, 140, 140, 1) 27%,
  //   rgba(197, 159, 78, 1) 100%
  // );

  background: rgb(232, 69, 69);
  background: radial-gradient(
    circle,
    rgba(232, 69, 69, 0.9500191131498471) 38%,
    rgba(144, 55, 73, 1) 94%
  );
  padding: 2rem 4rem 4rem;
  font-weight: 400;

  .signup__left-panel {
    padding-right: 0;
    background-image: url(../images/pexels-pavel-danilyuk-7180723.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;

    .signup__sign-txt {
      text-align: left;
      margin: 1.2rem 0 0 2rem;
      color: $font-grey;
      font-weight: 800;
      font-size: 3rem;
      font-family: $secondary-font;
    }

    .signup__pitch-txt {
      text-align: right;
      color: $font-color-dark;
      font-weight: 800;
      font-size: 1rem;
      margin: 0.2rem 1rem 1.2rem;
    }
  }

  .signup__right-panel {
    padding: 1.5rem 3rem 1.5rem;
    background-color: $clr-white;

    .signup__brand {
      font-family: $font-text;
      font-style: italic;
      font-size: 2.5rem;
      color: $font-grey;
      text-align: center;
      font-weight: 800;
    }

    .signup__pitch-txt2 {
      color: $font-color-dark;
      font-size: 1rem;
      text-align: center;
      font-weight: 800;
    }
  }

  @media only screen and (max-width: 767px) {
    .signup__left-panel {
      min-height: calc(max(50vh, 400px));
      border-radius: 0 !important;
      > div {
        background-color: rgba(255, 255, 255, 0.6);
        padding: 0.5rem;
        margin: 0.2rem 0.3rem;
        border-radius: 0.25rem !important;
      }
    }

    .signup__right-panel {
      padding: 0.5rem;
      border-radius: 0 !important;
    }
  }

  @media only screen and (max-width: 575px) {
    padding: 0 0.5rem;
  }
}

// #signup__connect-section {
//   text-align: center;
//   font-size: 0.9rem;
//   font-weight: 600;
// }
// .signup__icon {
//   color: #53354a;
//   margin-left: 6px;
//   /* font-size: 1.3rem; */
// }

// .icon:hover {
//   color: #e84545;
// }
