<div class="form-row">
  <div class="form-group col-md-6">
    <label for="unit">Unit (Appartment) </label>
    <input type="text" class="form-control" id="unit" placeholder="optional" />
  </div>
  <div class="form-group col-md-6">
    <label for="floorNo">Floor No</label>
    <input
      type="text"
      class="form-control"
      id="floorNo"
      placeholder="optional"
    />
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-5">
    <label for="blockNo">Block or Tower No</label>
    <input
      type="text"
      class="form-control"
      id="blockNo"
      placeholder="optional"
    />
  </div>
  <div class="form-group col-md-7">
    <label for=" buildingName">Building Name</label>
    <input
      type="text"
      class="form-control"
      id="buildingName"
      placeholder="optional"
    />
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-12">
    <label for="estateOrVillageName">Estate or Village name</label>
    <input
      type="text"
      class="form-control"
      id="estateOrVillageName"
      placeholder=""
      required
    />
    <div class="invalid-feedback">
      Please provide a valid estate or village name
    </div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-4">
    <label for="buildingNoFrom">Building No </label>
    <input
      type="text"
      class="form-control"
      id="buildingNoFrom"
      placeholder=""
      required
    />
    <div class="invalid-feedback">Please enter a building No</div>
  </div>
  <div class="form-group col-md-8">
    <label for="streetName">Street name</label>
    <input
      type="text"
      class="form-control"
      id="streetName"
      placeholder=""
      required
    />
    <div class="invalid-feedback">Please enter a street name</div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-7">
    <label for="dcDistrict">District</label>
    <select class="custom-select d-block w-100" id="dcDistrict" required>
      <option value="">Choose...</option>
      <% district.forEach(el=>{ %>
      <option><%=el%></option>
      <%})%>
    </select>
    <div class="invalid-feedback">Please select a valid district.</div>
  </div>
  <div class="form-group col-md-5">
    <label for="region">Region</label>
    <select class="custom-select d-block w-100" id="region" required>
      <option value="">Choose...</option>
      <% region.forEach(el=>{ %>
      <option><%=el%></option>
      <%})%>
    </select>
    <div class="invalid-feedback">Please provide a valid region.</div>
  </div>
</div>
