<!-- Footer -->
<footer class="d-flex align-items-center footer-class fixed-bottom" id="footer">
  <div class="container-fluid footer__container">
    <span class="socials">
      <!-- <i class="fab fa-twitter"></i><i class="fab fa-facebook-f socials"></i
      ><i class="fab fa-instagram socials"></i
      ><i class="fas fa-envelope socials"></i> -->
      © Copyright 2021 MAII Artisan Patisserie
    </span>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="https://js.stripe.com/v3"></script>
<script src="/dist/bundle.js"></script>

</body>
</html>